.book_title {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 1rem;
  font-size: large;
}
.book_look {
  display: flex;
  justify-content: center;
  color: white;
  padding-left: 38rem;
  margin-bottom: 1rem;
}

.line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 45rem;
  border-bottom: 1px solid white;
  margin-top: -0.8rem;
}

.lines {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 45rem;
  border-bottom: 1px solid white;
  margin-top: 1.3rem;
}
